body{ background-color:#fff; font-family: 'Press Start 2P', cursive; }
.navbar-wrapper{ margin-top: 20px; }
#canvas {border: 1px solid black; margin:0 auto; }
#game_container {width: 900px; margin-left: auto; margin-right: auto;}