/* Jonathan S. Otalora  - A0894017 */
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-color: #3c3c3c;
    margin: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#side_nav {
    position: absolute;
    margin-left: 1150px;
    top: 60px;
    width: 300px;
    border: thin solid white;
    padding: 20px;
    z-index: 1;
    background-color: black;
}

#side_nav > img { margin-left: 50px; margin-top: 20px; }

#game_bck {
    position: absolute;
    z-index: -1;
    top: -45px;
    left: -30px;
}

#game_container {
    position: relative;
    width: 900px;
    height: 600px;
    background-color: black;
    margin-top: 230px;
    margin-left: 100px;
    border: solid thin white;
    border-radius: 15px;
    text-align: center;
}

#game_container > canvas {
    border-radius: 15px;
    outline: none;
    border: solid thin white;
}

br.clear {
    content: " ";
    display: block;
    margin: 150px 0;
}

h1 {
    font-size: 40px;
}

a {
    color: rgb(250,204,33);
}

a:hover {
    text-decoration: none;
    color: red;
}
