<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guess The Number</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/layout/layout.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
</head>
<body>

    <!-- BEGIN NAVBAR -->
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">JS Games</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </div>
    <!-- END NAVBAR -->

    <div class="container">
        <div class="container-fluid" style='background-color: #FFF;'>
        <div id="game_container">
            <input type="text" class="form-control" placeholder="enter number 1 to 100" id="uInput" width="150px;">
        </div>
        <button id="submit" class="btn btn-default">SUBMIT</button>

        <div id="result"></div>
        </div>
    </div>


<!-- Script Includes -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/bootstrap/bootstrap.js"></script>
<script src="../js/configs/GameConfigs.js"></script>
<script src="../js/util/GameUtil.js"></script>
<script src="../js/games/GuessNum.js"></script>
<!-- End Script Includes -->
</body>
</html>