<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guess The Number</title>
    <link rel="stylesheet" href="../content/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../content/css/layout/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- BEGIN NAVBAR -->
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">JS Games</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>
<!-- END NAVBAR -->

<div class="container">
    <div id="pOverlay">
        <img src="../content/images/pong/pong-3.png" width="1097" height="1136"/>
    </div>
    <div class="container-fluid" style='background-color: #FFF;'>
        <div id="game_container"></div>
    </div>
</div>


<!-- Script Includes For Space Game -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="../content/js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="../content/js/configs/GameConfigs.js"></script>
<script type="text/javascript" src="../content/js/util/GameUtil.js"></script>
<script type="text/javascript" src="../content/js/API/Random.js"></script>
<script type="text/javascript" src="../content/js/API/Canvas.js"></script>
<script type="text/javascript" src="../content/js/API/Audio.js"></script>
<script type="text/javascript" src="../content/js/API/GraphicsManager.js"></script>
<script type="text/javascript" src="../content/js/games/Pong/PongObjects.js"></script>
<script type="text/javascript" src="../content/js/games/Pong/Pong.js"></script>
</body>
</html>